TOKEN="token of your app"
OWNER="your discord id"
CLIENTID="client id of your app"
DEBUG="no"
DEBUGLOGS="no"
USE_SPOTIFY="yes"
SPOTIFY_CLIENT_ID="your spotify client id"
SPOTIFY_CLIENT_SECRET="your spotify client secret"
SPOTIFY_PLAYLIST_ID="your spotify playlist id"