{
  "adminLogs": {
    "frequent": [
      [],
      [],
      [],
      [],
      [],
      [],
      []
    ],
    "userAD": [
      [],
      []
    ]
  },
  "alavirien": {
    "toUpdateIds": [],
    "users": []
  },
  "apologiesCounting": [],
  "birthdaysUsers": [],
  "concreteRecipients": [],
  "eventRoles": [
    {
      "name": "test",
      "guildId": "926909708072284170",
      "roleMessageId": "1083472077497040947",
      "baseRoleId": "959360675451383828",
      "CDLRoleId": "1082032288398852156",
      "tournamentRoleId": "1082033302325690408",
      "voiceChannelRoleId": "1082033356256067634",
      "miscRoleId": "1082033648003453051"
    },
    {
      "name": "prod",
      "guildId": "816961245743808582",
      "roleMessageId": "",
      "baseRoleId": "959085951559290882",
      "CDLRoleId": "1082760577312620604",
      "tournamentRoleId": "1082761295469748287",
      "voiceChannelRoleId": "1082762918044639294",
      "miscRoleId": "1082762246377181275"
    }
  ],
  "gift": {
    "users": [],
    "messages": []
  },
  "ignoredChannelIds": [],
  "ignoredUsersIds": [ "816960467335512114", "816979516916105220" ], // Maeva / Andarta Picture
  "messageCount": [],
  "polls": [],
  "reminder": [],
  "stats": {
    "users": [],
    "stats": []
  }
}
