{
  "adminLogs": {
    "frequent": [
      [],
      [],
      [],
      [],
      [],
      [],
      []
    ],
    "userAD": [
      [],
      []
    ]
  },
  "apologiesCounting": [],
  "birthdaysUsers": [],
  "concreteRecipients": [],
  "ignoredChannelIds": [],
  "ignoredUsersIds": [ "816960467335512114", "816979516916105220" ], // Maeva / Andarta Picture
  "messageCount": [],
  "reminder": [],
  "twitter": [
    {
      "userId": "1039418011260727296", //Andarta Pictures
      "lastTweetId": ""
    }
  ]
}
