{
  "apologiesCounting": [],
  "birthdaysUsers": [],
  "ignoredChannelIds": [],
  "ignoredUsersIds": [ "816960467335512114", "816979516916105220" ], // Maeva / Andarta Picture
  "messageCount": [],
  "reminder": [],
  "stats": []
}
